# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: erc20indexer
description: ERC-20 indexer
chains:
  - id: 137 # Polygon
    start_block: 77700000
    contracts:
      - name: USDC
        address: 0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174 # USDC
        handler: src/walletHandlers/USDC.ts
        events:
          - event: Transfer(address indexed from, address indexed to, uint256 value)
      - name: SafeProxyFactory
        address: 0xaacFeEa03eb1561C4e67d661e40682Bd20E3541b # Polymarket Safe Factory
        handler: src/walletHandlers/SafeProxyFactory.ts
        events:
          - event: ProxyCreation(address proxy, address owner)
      - name: RelayHub
        address: 0xD216153c06E857cD7f72665E0aF1d7D82172F494 # Polymarket Relay Hub
        handler: src/walletHandlers/RelayHub.ts
        events:
          - event: TransactionRelayed(address indexed relay, address indexed from, address indexed to, bytes4 selector, uint8 status, uint256 charge)
address_format: lowercase
unordered_multichain_mode: true
preload_handlers: true
