# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: erc20indexer
description: ERC-20 indexer
chains:
  - id: 137 # Polygon
    start_block: 3764531
    contracts:
      - name: USDC
        address: 0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174 # USDC
        handler: src/walletHandlers/USDC.ts
        start_block: 5013591
        events:
          - event: Transfer(address indexed from, address indexed to, uint256 value)
      - name: SafeProxyFactory
        address: 0xaacFeEa03eb1561C4e67d661e40682Bd20E3541b # Polymarket Safe Factory
        handler: src/walletHandlers/SafeProxyFactory.ts
        start_block: 19426226
        events:
          - event: ProxyCreation(address proxy, address owner)
      - name: RelayHub
        address: 0xD216153c06E857cD7f72665E0aF1d7D82172F494 # Polymarket Relay Hub
        handler: src/walletHandlers/RelayHub.ts
        start_block: 3764531
        events:
          - event: TransactionRelayed(address indexed relay, address indexed from, address indexed to, bytes4 selector, uint8 status, uint256 charge)
      - name: UmaSportsOracle
        address: 0xb21182d0494521Cf45DbbeEbb5A3ACAAb6d22093 # Polymarket UMA Sports Oracle
        handler: src/umaSportsOracleHandlers/UmaSportsOracle.ts
        abi_file_path: src/abis/UmaSportsOracle.json
        start_block: 68931384
        events:
          - event: GameCreated
          - event: GameSettled
          - event: GameEmergencySettled
          - event: GameCanceled
          - event: GamePaused
          - event: GameUnpaused
          - event: MarketCreated
          - event: MarketPaused
          - event: MarketUnpaused
          - event: MarketResolved
          - event: MarketEmergencyResolved
      - name: Exchange
        address: [
            0x4bFb41d5B3570DeFd03C39a9A4D8dE6Bd8B8982E,
            0xC5d563A36AE78145C45a50134d48A1215220f80a,
          ] # Exchange
        handler: src/OrderbookHandlers/Exchange.ts
        abi_file_path: src/abis/Exchange.json
        start_block: 33605403
        events:
          - event: OrderFilled
            field_selection: &tx_hash_only
              transaction_fields:
                - hash
          - event: OrdersMatched
            field_selection: *tx_hash_only
          - event: TokenRegistered
      - name: ConditionalTokens
        address: 0x4D97DCd97eC945f40cF65F87097ACe5EA0476045
        handler: src/conditionalTokensHandlers/ConditionalTokens.ts
        abi_file_path: src/abis/ConditionalTokens.json
        start_block: 4023686
        events:
          - event: PositionSplit
          - event: PositionsMerge
          - event: PayoutRedemption
          - event: ConditionPreparation
      - name: NegRiskAdapter
        address: 0xd91E80cF2E7be2e162c6513ceD06f1dD0dA35296
        handler: src/conditionalTokensHandlers/NegRiskAdapter.ts
        abi_file_path: src/abis/NegRiskAdapter.json
        start_block: 50505403
        events:
          - event: PositionSplit
          - event: PositionsMerge
          - event: PayoutRedemption
          - event: PositionsConverted
          - event: MarketPrepared
          - event: QuestionPrepared
      - name: FixedProductMarketMakerFactory
        address: 0x8B9805A2f595B6705e74F7310829f2d299D21522
        handler: src/fpmmFactoryHandlers/FixedProductMarketMakerFactory.ts
        abi_file_path: src/abis/FixedProductMarketMakerFactory.json
        start_block: 4023693
        events:
          - event: FixedProductMarketMakerCreation
            field_selection:
              transaction_fields:
                - hash
      - name: FixedProductMarketMaker
        handler: src/fpmmHandlers/FixedProductMarketMaker.ts
        abi_file_path: src/abis/FixedProductMarketMaker.json
        events:
          - event: FPMMFundingAdded
          - event: FPMMFundingRemoved
          - event: FPMMBuy
            field_selection: &tx_hash_only
              transaction_fields:
                - hash
          - event: FPMMSell
          - event: Transfer
address_format: lowercase
